/* Секция 2,3 */
.section-title {
  padding-bottom: 0;
}
.delete {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.site {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.site__list {
  width: 270px;
}
.site__list:not(:last-child) {
  margin-right: 30px;
}

.site__name {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.site__about {
  font-size: 14px;
  line-height: 1.7;
  margin: 0;
}
.site__about:not(:last-child) {
  margin-right: 0;
}
.container__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.container__image {
  margin-right: 30px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  position: relative;
}
.container__image:last-child {
  margin-right: 0;
}

.site__box {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 270px;
  min-height: 120px;
  margin-top: 0px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

.container__names {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;

  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;

  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;

  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
}
/* Секция 4  */
.section-com {
  background-color: #f5f4fa;
}
.div__names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}
.container__site {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.div__about {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 16px;
}
.container__name {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}
.container__div {
  padding-top: 30px;
  padding-bottom: 30px;
}
.div__icons {
  display: flex;
  justify-content: center;
  padding-left: 0;
  list-style: none;
}

.icon-media {
  width: 44px;
  height: 44px;
  margin-right: 0px;
  border-radius: 50%;
}
.icon-media:not(:last-child) {
  margin-right: 10px;
}
.icon-media__list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: #afb1b8;

  transition: background-color 250ms var(--o-transition-timing-function),
    fill 250ms var(--o-transition-timing-function);
}
.icon-media__list:hover,
.icon-media__list:focus {
  background-color: var(--address-color);
  fill: var(--icon-colors);
}
/*Секция 5*/
.container__emblem {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.emblem-list {
  margin-right: 0;
}
.emblem-list:not(:last-child) {
  margin-right: 30px;
}
.emblem-list__li {
  width: 170px;
  height: 92px;

  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;

  transition: border 250ms var(--o-transition-timing-function),
    fill 250ms var(--o-transition-timing-function);
}
.emblem-list__li:hover,
.emblem-list__li:focus {
  border: 1px solid #2196f3;
  fill: var(--address-color);
}
